html,
body {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(45deg, yellow, orange);
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 18px;
  color: black;
  padding: 8px;
  border: 4px solid black;
  background: #fff;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

form *:not(:last-child) {
  margin-bottom: 14px;
}

.input-field {
  width: 292px;
  font-size: 18px;
  padding: 8px;
  border: none;
  font-weight: bold;
}
